.icons-style{
    width: 65px;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    color: gray;
}
.icons-style{
    width: 65px;
    margin-right: 20px;
}
.list-item {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.icons-style >:first-child:hover{
  color: red;
}
.icons-style >:last-child:hover{
    color: limegreen;
}
.icons-style >:hover{
    transform: scale(1.1);
    border-radius: 100px;
    cursor: pointer;
}
.done{
    text-decoration-line: line-through;
}
.important-style{
    color: red;
    font-weight: bold;
}
.important-style ~ div .important-item{
    color: red;
}