
.search-box{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    outline: none;
}
.search-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
